<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>reCapp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1Ijoia2FsZWJjb29wZXIiLCJhIjoiY2pkNTZiZzJrMHpwMDMxcnp2ajN1bW9hdSJ9.JL1iaSYTODzMnNps55qgnA</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To Take Photos and Video</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>To assist tracking for camera as well as maps.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>To assist tracking for camera as well as maps.</string>
	<key>NSLocationUsageDescription</key>
	<string>To assist tracking for camera as well as maps.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Shows your location on the map and helps improve OpenStreetMap.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To Record Audio With Video</string>
	<key>UIAppFonts</key>
	<array>
		<string>triomphe-bold-autoinstr.ttf</string>
		<string>triomphe-bold-italic-autoinstr.ttf</string>
		<string>triomphe-italic-autoinstr.ttf</string>
		<string>triomphe-light-autoinstr.ttf</string>
		<string>triomphe-light-italic-autoinstr.ttf</string>
		<string>triomphe-regular-autoinstr.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>SignIn</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
